img {
	border: none;
}

input {
    font-size: 99%;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #6666ff;
}

h1, h2, h3, h4 {
	font-family: 'Yanone Kaffeesatz',sans-serif;
	margin-top: 1em;
}
h1 {
	text-transform: none;
	margin-top: 0;
}
h1 a:link, h1 a:visited {
	text-decoration: none;
	color: black;
}

p {
	line-height: 1.3;
	margin-top: 1em;
}
li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

body {
    font-family:'Gentium Book Basic',serif;
	color: #212;
	background-color: #fff;
    margin:0;
    padding:0;
    font-size:1rem;
    line-height:1.4
}

#b {
max-width: 62em;
margin: 0 auto;
	padding: 1em 2em 0;
    border-bottom-left-radius: 1em;
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    /* border-bottom-right-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    */
}

header {
    color: #a9a;
    background-color: #434;
    border-bottom: solid .5em #323;
}
header div {
    margin: 0 auto;
    padding: 1em 5%;
    max-width: 62rem;
}
header p {
	font-family: 'Yanone Kaffeesatz',sans-serif;
    margin:0;
    font-size:2rem;
    font-weight:normal;
    color:#dcd
}
header a:link, header a:visited {
    color: #dcd;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    text-decoration: none;
}
header a:hover {
    color: #fef;
}

h4 {
	background: #eeeeee;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
	color: #999999;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.hi {
	background-color: #600;
}

form#search {
	float: right;
}

#searchresults {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	position: relative;
	color: white;
	background-color: black;
	list-style-type: none;
	width: 21em;
	padding: 5px;
}

#name {
	float: right;
}
footer {
    background-color: #434;
    color: #a9a;
    border-top:solid .5em #323;
    padding: 1em;
	text-align: right;
	clear: both;
    margin-top: 3px;
}
footer a:link, footer a:visited {
    color: white;
}

.t {
    font-family:'Gentium Book Basic',serif;
	position: absolute;
	text-align: left;
	left: 22em;
	width: 17em;
	color: #666666;
}

#blurb {
	float: right;
	width: 15em;
	margin-top: 0.5em;
}

#front_eps {
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;
}
#front_eps li {
	float: left;
	text-align: center;
	width: 200px;
	height: 80px;
}
#front_eps li.pic {
	height: 160px;
}
#front_eps a {
	text-decoration: none;
}
#front_eps img {
	margin-bottom: 5px;
}

#eps_side, #eps_side ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}
#eps_side a {
	text-decoration: none;
}
#eps_side img {
	margin-top: 5px;
}

#error {
	color: #cc0000;
	font-size: 125%;
}

#searchresults a, #searchresults a:link, #searchresults a:visited {
	color: white;
	text-decoration: none;
}
#searchresults a:hover {
	text-decoration: underline;
}

#examples {
	text-align: center;
	float: right;
	width: 13em;
	font-size: 120%;
	margin: 0 0 0.5em 1em;
}
